.gradle
build/
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### VS Code ###
.vscode/

# Do not force-include the wrapper jar; ignore it (we track only the properties)
gradle/wrapper/gradle-wrapper.jar
**/gradle-wrapper.jar
